/* nhs widget styles */
#az-nhs-widget div, #az-nhs-widget span, 
#az-nhs-widget h1, #az-nhs-widget h2, #az-nhs-widget h3, 
#az-nhs-widget h4, #az-nhs-widget h5, #az-nhs-widget h6, 
#az-nhs-widget p, #az-nhs-widget blockquote, #az-nhs-widget pre,
#az-nhs-widget abbr, #az-nhs-widget address, #az-nhs-widget cite, #az-nhs-widget code,
#az-nhs-widget del, #az-nhs-widget dfn, #az-nhs-widget em, #az-nhs-widget img, 
#az-nhs-widget ins, #az-nhs-widget kbd, #az-nhs-widget q, #az-nhs-widget samp,
#az-nhs-widget small, #az-nhs-widget strong, #az-nhs-widget sub, #az-nhs-widget sup, #az-nhs-widget var,
#az-nhs-widget b, #az-nhs-widget i, #az-nhs-widget dl, #az-nhs-widget dt, #az-nhs-widget dd, 
#az-nhs-widget ol, #az-nhs-widget ul, #az-nhs-widget li, #az-nhs-widget fieldset, #az-nhs-widget form, 
#az-nhs-widget label, #az-nhs-widget legend, #az-nhs-widget table, #az-nhs-widget caption, #az-nhs-widget tbody, 
#az-nhs-widget tfoot, #az-nhs-widget thead, #az-nhs-widget tr, #az-nhs-widget th, #az-nhs-widget td {
  margin:0 !important;
  padding:0 !important;
  border:0 !important;
  outline:0 !important;
  font-size:100% !important;
  vertical-align:baseline !important;
  background:transparent !important;
  list-style:none !important;
}
#az-nhs-widget {
	border:1px solid #ccc !important;
	-webkit-border-radius:6px !important;
	-moz-border-radius:6px !important;
	border-radius:6px !important;
	height:328px !important;
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important; /*0.7em*/
	color:#2F2F2F !important;
	background:#fff !important;
	font:11px/1.231 sans-serif !important; *font-size:small !important;
	position:relative !important;
}
#az-nhs-widget .nhs-widget-inner {
	padding:8px 8px 16px !important;
}
/* nhs widget generic */
#az-nhs-widget .nhs-widget-header {
	margin-bottom: 14px !important;
	overflow: hidden !important;
}
#az-nhs-widget .nhs-widget-title {
	float:right !important;
	color:#286CAD !important;
	font-size:1.2em !important;
	line-height:1.3em !important;
}
#az-nhs-widget .nhs-widget-logo {
	float:left !important;
	color: #286cad !important;
	width:auto !important;
}

#az-nhs-widget .nhs-widget-logo a,
#az-nhs-widget .nhs-widget-logo a:hover {
	text-decoration: none !important;
}

#az-nhs-widget .nhs-widget-logo img {
	float: left !important;
}

#az-nhs-widget .nhs-widget-logo span {
	padding-left: 5px !important;
	float: left !important;
	padding-top: 2px !important;
	line-height: 15px !important;
	text-transform: uppercase !important;
	white-space: nowrap !important;
	font-size:13px !important;
}
#az-nhs-widget a {
	text-decoration:none !important;
	color:#286cad !important;
}
#az-nhs-widget a:hover {
	text-decoration:underline !important;	
}
#az-nhs-widget img,
#az-nhs-widget .nhs-widget-addr {
	display:block !important;	
}
#az-nhs-widget .nhs-widget-btn-wrapper {
	background:#fff !important;
	border:1px solid #ccc !important;
	-webkit-border-radius:12px !important;
	-moz-border-radius:12px !important;
	border-radius:12px !important;
	float:left !important;
	margin:0 6px 0 0 !important;
}
#az-nhs-widget .nhs-widget-btn-wrapper button {
	background:#286cad !important;	
	border:2px solid #fff !important;
	-webkit-border-radius:12px !important;
	-moz-border-radius:12px !important;
	border-radius:12px !important;
	color:#fff !important;
	font-weight:bold !important;
	padding:2px 8px !important;
	cursor:pointer !important;
}
#az-nhs-widget .nhs-widget-input {
	float:left !important;
	border:1px solid #ccc !important;
	color:#2f2f2f !important;
	padding:3px !important;
	margin:2px 6px 0 0 !important;
}
#az-nhs-widget .nhs-widget-clear {
	clear:both !important;	
}
#az-nhs-widget .nhs-widget-overflow {
	overflow:hidden !important;
}
#az-nhs-widget .nhs-widget-error {
	font-weight:bold !important;
	color:#FF2D2D !important;
}
#az-nhs-widget .nhs-widget-loader {
	background: url(../img/ajax-loader.gif) no-repeat center center !important;	
}
/* nhs widget nav */
#az-nhs-widget ul.nhs-widget-nav li {
	float:left !important;
	margin:0 2px !important;
	position:relative !important;
	top:1px !important;
	border:1px solid #ccc !important;
	background:#fff !important;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.44, rgb(245,245,245)),
		color-stop(0.82, rgb(222,222,222))
	) !important;
	background:-moz-linear-gradient(
		center top,
		rgb(245,245,245) 44%,
		rgb(222,222,222) 82%
	) !important;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5F5F5, endColorstr=#DEDEDE) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5F5F5, endColorstr=#DEDEDE)" !important;
	height:22px !important;
}
#az-nhs-widget ul.nhs-widget-nav .nhs-widget-first, 
#az-nhs-widget ul.nhs-widget-nav .nhs-widget-first a  {
	margin-left:0 !important;
	border-top-left-radius:6px 6px !important;
	-moz-border-radius-topleft:6px 6px !important;
	-webkit-border-top-left-radius:6px 6px !important;
}
#az-nhs-widget ul.nhs-widget-nav .nhs-widget-active {
	border-bottom:1px solid #fff !important;
	background:#fff !important;	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF)" !important;
}
#az-nhs-widget ul.nhs-widget-nav .nhs-widget-active a {
	color:#286cad !important;
}
#az-nhs-widget ul.nhs-widget-nav a {
	color:#2f2f2f !important;
	padding:4px 8px 4px 10px !important;
	display:block !important;
	top:1px !important;
	left:-1px !important;
	position:relative !important;
	border-left:1px solid #ccc !important;
	font-weight:bold !important;
}
#az-nhs-widget ul.nhs-widget-nav a:hover {
	text-decoration:none !important;	
}
/* nhs widget tabs */
#az-nhs-widget .nhs-widget-tabs {
	border:1px solid #ccc !important;
	background:#fff !important;
	border-bottom-left-radius:6px 6px !important;
	-moz-border-radius-bottomleft:6px 6px !important;
	-webkit-border-bottom-left-radius:6px 6px !important;
	border-bottom-right-radius:6px 6px !important;
	-moz-border-radius-bottomright:6px 6px !important;
	-webkit-border-bottom-right-radius:6px 6px !important;
	padding:3px 0 0 !important;
}
#az-nhs-widget .nhs-widget-tab {
	padding:5px 8px 8px !important;
	overflow:auto !important;
	height:232px !important;
}
/* content */
#az-nhs-widget .nhs-widget-tab p,
#az-nhs-widget .nhs-widget-tab h2 {
	margin:0 0 8px !important;
}
#az-nhs-widget .nhs-widget-tab li {
	margin:3px 0 0 !important;
}
#az-nhs-widget .nhs-widget-video {
	float:left !important;
	width:412px !important;
	zoom:1 !important;
}
#az-nhs-widget .nhs-widget-content ul {
	margin-left:15px !important;
}
#az-nhs-widget .nhs-widget-content ul,
#az-nhs-widget .nhs-widget-content li {
	list-style:square !important;
}
#az-nhs-widget .nhs-widget-content h3 {
	/*color:#286CAD !important;*/
	margin-bottom:10px !important;
}